*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: 'Josefin Sans', Segoe Print, sans-serif;
	background: #F5F9FC;
}

/***********Barra de navegação***********/
#nav{
	background: #FFFFFF;
	height: 190px;
	padding-top: 20px;
}

.area{
	width: 900px;
	margin: 0 auto;
}

.logo{
	padding: 0px;
	margin: 0px;
	float: left;
}

.wpp{
	position: relative;
	top: 40px;
}

.menu{
	float: right;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	font-size: 13px;
}
	
/***********Formatação links menu***********/

a.minu:link{
	color: #858284;
}

a.minu:visited{
	color: #F23094;
}

a.minu:hover{
	color: #FFF;
	background: #000;
}

a.minu:active{
	color: #fff;
	background: #F23094;
}
/*************Conteúdo do site****************/
.areaprincipal{
	padding: 0px;
}

h2.h2{
	font-size: 20px;
	padding-bottom: 10px;
	border-top: 2px ridge #666565;
	margin-bottom: 90px
}

.postagem{
	padding: 20px;
}


/**************** Slideshow  *****************/
.mySlides{
	height: 500px;
}
.w3-left, .w3-right, .w3-badge{
	cursor:pointer
}
.w3-badge{
	height: 13px;
	width: 13px;
	padding: 0px;
}

/*************Rodapé do site****************/
footer{
	background: #FFFFFF;
	height: 50px;
	padding-top: 0px;
	float 

}
.logof{
	float: left;
	padding: 0px;
	margin-left: 240px;
}

.midia{
	width: 20px;
	height: 20px;
}
